#
# Device        : Xiaomi Mi 5 (gemini)
# Maintainer    : MOVZX (MOVZX@Telegram.org)
#

# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1

    setprop persist.spectrum.kernel Darkness

#
# Darkness Modes
#

# Balanced (default profile)
on property:persist.spectrum.profile=0
    # Set CPU Parameters
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    #
    # CPU Scheduler
        write /proc/sys/kernel/sched_boost 0
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    #
    # UFS Tweaks
        write /sys/module/scsi_mod/parameters/use_blk_mq Y
        write /sys/devices/soc/624000.ufshc/clkscale_enable 1
        write /sys/devices/soc/624000.ufshc/clkgate_enable 1
        write /sys/devices/soc/624000.ufshc/624000.ufshc:ufs_variant/pm_qos_enable 1
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient Y

# Performance
on property:persist.spectrum.profile=1
    # Set CPU Parameters
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    #
    # CPU Scheduler
        write /proc/sys/kernel/sched_boost 1
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 214000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    #
    # UFS Tweaks
        write /sys/module/scsi_mod/parameters/use_blk_mq Y
        write /sys/devices/soc/624000.ufshc/clkscale_enable 0
        write /sys/devices/soc/624000.ufshc/clkgate_enable 0
        write /sys/devices/soc/624000.ufshc/624000.ufshc:ufs_variant/pm_qos_enable 0
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient N

# Battery
on property:persist.spectrum.profile=2
    # Set CPU Parameters
            chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
            chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    #
    # CPU Scheduler
        write /proc/sys/kernel/sched_boost 0
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 401800000
    #
    # UFS Tweaks
        write /sys/module/scsi_mod/parameters/use_blk_mq N
        write /sys/devices/soc/624000.ufshc/clkscale_enable 1
        write /sys/devices/soc/624000.ufshc/clkgate_enable 1
        write /sys/devices/soc/624000.ufshc/624000.ufshc:ufs_variant/pm_qos_enable 1
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient Y

# Gaming
on property:persist.spectrum.profile=3
    # Set CPU Parameters
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    #
    # CPU Scheduler
        write /proc/sys/kernel/sched_boost 1
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 3
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 315000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    #
    # UFS Tweaks
        write /sys/module/scsi_mod/parameters/use_blk_mq Y
        write /sys/devices/soc/624000.ufshc/clkscale_enable 0
        write /sys/devices/soc/624000.ufshc/clkgate_enable 0
        write /sys/devices/soc/624000.ufshc/624000.ufshc:ufs_variant/pm_qos_enable 0
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient N
