#
# Device        : Xiaomi Mi 5 (gemini)
# Maintainer    : MOVZX (MOVZX@Telegram.org)
#

on boooooooot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor performance

on darkness
    # Bring all CPU Cores to online
        write /sys/devices/system/cpu/cpu0/online 1
        write /sys/devices/system/cpu/cpu1/online 1
        write /sys/devices/system/cpu/cpu2/online 1
        write /sys/devices/system/cpu/cpu3/online 1
    #
    # Set CPU Parameters
        # Disable thermal hotplug to switch governor
            write /sys/module/msm_thermal/core_control/enabled 0
        #
        # Little
            write /sys/devices/system/cpu/cpu0/online 1
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/is_locked 0
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/is_locked 0
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 13000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 960000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 30000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 21000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/screen_off_max 1382400
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "80 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
                chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000
                chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
            # Darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/above_hispeed_delay 13000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/fastlane 0
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/go_lowspeed_load 10
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/hispeed_freq 960000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/io_is_busy 1
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/max_freq_hysteresis 30000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/min_sample_time 21000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/powersave_bias 1
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/screen_off_max 1382400
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/target_loads "80 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_rate
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_rate 20000
                chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_rate
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_rate_screenoff
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_rate_screenoff 50000
                chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_rate_screenoff
                chmod 755 /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_slack
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_slack 20000
                chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/darkness/timer_slack
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
        # Big
            write /sys/devices/system/cpu/cpu2/online 1
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/above_hispeed_delay "13000 1324800:21000 1632000:34000"
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 85
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 1248000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/io_is_busy 1
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/max_freq_hysteresis 30000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 21000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/screen_off_max 1382400
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "85 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate 20000
                chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack 20000
                chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack
                # write /sys/devices/system/cpu/cpu0/cpufreq/interactive/is_locked 1
                # write /sys/devices/system/cpu/cpu2/cpufreq/interactive/is_locked 1
            # Darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/above_hispeed_delay "13000 1324800:21000 1632000:34000"
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/fastlane 0
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/go_hispeed_load 85
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/go_lowspeed_load 15
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/hispeed_freq 1248000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/io_is_busy 1
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/max_freq_hysteresis 30000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/min_sample_time 21000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/powersave_bias 1
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/screen_off_max 1382400
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/target_loads "85 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_rate
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_rate 20000
                chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_rate
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_rate_screenoff
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_rate_screenoff 50000
                chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_rate_screenoff
                chmod 755 /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_slack
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_slack 20000
                chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/darkness/timer_slack
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
        #
        # Lock Interactive CPU Governor
            # write /sys/devices/system/cpu/cpu0/cpufreq/interactive/is_locked 1
            # write /sys/devices/system/cpu/cpu2/cpufreq/interactive/is_locked 1
        #
        # Re-enable thermal hotplug
            write /sys/module/msm_thermal/core_control/enabled 1
    #
    # CPU Scheduler
        chmod 755 /proc/sys/kernel/sched_boost
        write /proc/sys/kernel/sched_boost 0
        chmod 644 /proc/sys/kernel/sched_boost
    #
    # CPU Core Control
        # Little
            write /sys/devices/system/cpu/cpu0/core_ctl/not_preferred "1 1"
        # Big
            write /sys/devices/system/cpu/cpu2/core_ctl/busy_up_thres 85
            write /sys/devices/system/cpu/cpu2/core_ctl/busy_down_thres 80
            write /sys/devices/system/cpu/cpu2/core_ctl/is_big_cluster 1
            write /sys/devices/system/cpu/cpu2/core_ctl/min_cpus 0
            write /sys/devices/system/cpu/cpu2/core_ctl/not_preferred "0 0"
            write /sys/devices/system/cpu/cpu2/core_ctl/offline_delay_ms 300
            write /sys/devices/system/cpu/cpu2/core_ctl/task_thres 4
    #
    # CPU Input Boost
        chmod 755 /sys/module/msm_performance/parameters/touchboost
        write /sys/module/msm_performance/parameters/touchboost 0
        chmod 644 /sys/module/msm_performance/parameters/touchboost
        write /sys/module/cpu_boost/parameters/input_boost_enabled 1
        write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:1248000 3:1248000"
        write /sys/module/cpu_boost/parameters/input_boost_ms 50
        write /sys/module/cpu_boost/parameters/sched_boost_on_input N
    #
    # Set OnePlus OPChain
        write /sys/module/opchain/parameters/boost 1
        write /sys/module/opchain/parameters/boost_sample_time 10000
        write /sys/module/opchain/parameters/boost_tl 10
        write /sys/module/opchain/parameters/chain_on 1
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
        write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
        write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    #
    # Set LMK
        write /sys/module/lowmemorykiller/parameters/debug_level 0
        write /sys/module/lowmemorykiller/parameters/minfree "21816,29088,36360,43632,50904,65448"
    #
    # VM Tweaks
        write /proc/sys/vm/dirty_background_ratio 70
        write /proc/sys/vm/dirty_ratio 90
        write /proc/sys/vm/extra_free_kbytes 24300
        write /proc/sys/vm/laptop_mode 0
        write /proc/sys/vm/min_free_kbytes 4096
        write /proc/sys/vm/oom_kill_allocating_task 0
        write /proc/sys/vm/overcommit_ratio 80
        write /proc/sys/vm/swappiness 60
        write /proc/sys/vm/vfs_cache_pressure 100
    #
    # Set Arch Specific Power Settings
        write /sys/kernel/sched/arch_capacity 1
        write /sys/kernel/sched/arch_power 1
    #
    # Set Gentle Fair Sleepers Settings
        write /sys/kernel/sched/gentle_fair_sleepers 0
    #
    # Sound Control
        write /sys/kernel/sound_control/mic_gain 5
        write /sys/kernel/sound_control/speaker_gain 13
    #
    # Set I/O Scheduler
        setprop sys.io.scheduler cfq
        # SDA
        write /sys/block/sda/queue/iostats 0
        write /sys/block/sda/queue/read_ahead_kb 128
        write /sys/block/sda/queue/scheduler cfq
        # SDE
        write /sys/block/sde/queue/iostats 0
        write /sys/block/sde/queue/read_ahead_kb 128
        write /sys/block/sde/queue/scheduler cfq
    #
    # UFS Tweaks
        write /sys/module/scsi_mod/parameters/use_blk_mq Y
        write /sys/devices/soc/624000.ufshc/clkgate_enable 1
        write /sys/devices/soc/624000.ufshc/clkscale_enable 1
        write /sys/devices/soc/624000.ufshc/624000.ufshc:ufs_variant/pm_qos_enable 1
    #
    # KCAL Colour Control
        chmod 755 /sys/devices/platform/kcal_ctrl.0/kcal_enable
        write /sys/devices/platform/kcal_ctrl.0/kcal_enable 0
        chmod 644 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient Y
        write /sys/module/sync/parameters/fsync_enabled N
        write /sys/module/qpnp_smbcharger/parameters/default_dcp_icl_ma 2400
        write /sys/module/qpnp_smbcharger/parameters/default_hvdcp_icl_ma 2400
        write /sys/module/qpnp_smbcharger/parameters/default_hvdcp3_icl_ma 2400
        write /sys/module/battery_current_limit/parameters/low_battery_value 5
        chmod 755 /sys/module/msm_thermal/vdd_restriction/enabled
        write /sys/module/msm_thermal/vdd_restriction/enabled 0
        chmod 444 /sys/module/msm_thermal/vdd_restriction/enabled
        write /sys/module/msm_thermal/parameters/enabled N
        write /sys/kernel/fp_boost/enabled 1
        write /sys/kernel/mm/uksm/run_charging 1
    #
    # System Darkness Signature
        setprop net.hostname Darkness

on property:init.svc.bootanim=running
    trigger boooooooot

on property:dev.bootcomplete=1
    trigger darkness
    setprop persist.spectrum.profile 0
